/*	Load fonts */
@font-face {
  font-family: "AveriaSerif-Regular";
  src: url(fonts/AveriaSerif-Regular.ttf) format("truetype");
} 

/*	Preloader for Fade-In*/
#preloader {
    background: url("../workimage/ajax-loader.gif") no-repeat scroll center center #000000;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/*	For Animations */
#headline, #sub-headline, #intro-p, {
  	-webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}
#portfolio-heading, .skillsLeft, .skillsRight, .contact,
.radio-left, .gumbo-left, .alex-left, .zen-left, .tribune-left, .magazine-left, 
.radio-right, .gumbo-right, .alex-right, .zen-right, .tribune-right, .magazine-right {
  	-webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
}

/*#idenity-heading, #response-heading, #html-heading, #jquery-heading, #ajax-heading, 
#php-heading, #seo-heading, #documented-heading, #more-heading {
  	-webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
}*/

/*	Global */
body {
	overflow-x: hidden;
	/*background: url('/resume/resources/images/tree.jpg') no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: AveriaSerif-Regular;
	text-shadow: 0.05em 0.05em 0.05em #FFF;
}
.intro, .emphasis, .skills, .portfolio, .contact {

}
p, a {
	font-size: 1.2em;
}
h1, h2, h3 {
	text-align: center;
}
h3 {
	font-size: 4em;
}
h4 {
	font-size: 1.8em;
}
.divider {
  opacity: 0.2;
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000;
  height: 0.1em;
}

/*	Scrollbar */
::-webkit-scrollbar {
    width: 1.5em;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,255,0.4); 
}

/**/
/**/
/*	Start Sectional Styling */
/**/
/**/

/*	Intro */
.intro {
	margin-top: -3vh;
	height: 103vh;
	background: url('../resources/images/top-background.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}
h1 {
	padding-top: 33vh;
}
h1, h2 {
	letter-spacing: 0.3em;
	word-spacing: 0.3em;
}
.intro p {
	width: 33%;
	margin-left: 33%;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
}

/*	Emphasis */
.listItem {
	text-align: center;
	/*width: 30%;*/
	/*padding: 1.5%;*/
	/*float: left;*/
	/*display: inline-block;*/
}
.listItem h4 {
}
.emphasis-peekhole {
	padding: 0.5em;
	background-color: #888;
	background: url('/resume/resources/images/nowhere.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 1px solid #888;
	border-radius: 1em 3em 3em 9em;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0.05em 0.05em 0.05em #0000FF;
}

/*	skills */
.skills {
	clear: both;
	margin-bottom: 22em;
}
.skills h3 {
	padding: 0.5em;
	margin-bottom: 0.5em;
	background-color: #888;
	background: url('/resume/resources/images/planets.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 1px solid #888;
	border-radius: 1em 1em 9em 9em;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0.01em 0.01em 0.01em #0000FF;
}
.skill-item {
	display: block;
	margin: 0.25em;
}
.skill-img {
	height: 2em;
	width: 2em;
}
.skill-name {
	display: inline;
	margin-left: 1em;
	font-size: 2em;
}

/*	portfolio */
.portfolio-headbox {
	margin-top: 1em;
	background-color: #000;
	color: #FFF;
	padding: 0.5em;
}
.portfolio h3 {
}
.portfolio-item {
	margin-top: 4em;
	margin-bottom: 4em;
}
.portfolioImg {
	height: 200px;
	width: 400px;
	border-radius: 0.25em;
}
.portfolio-item h4 {
	letter-spacing: 0.5em
}

/*	Contact */
#contact p {
	text-align: center;
}
#email, #skype, #phone {
	text-align: center;
	font-size: 2em;
}
#phone {
	margin-bottom: 2em;
}

/*	Credits */
#credit, #copyright {
	clear: both;
}