/*														*/ 
/*	Hello												*/
/*														*/
/*	Thank you for taking time to read my stylesheet		*/ 
/*														*/
/*	I worked hard on it									*/
/*														*/ 
/*	I hope you enjoye it								*/
/*														*/
/*														*/ 
/*														*/ 

/*	Let's start by loading the fonts */
@font-face {
  font-family: "AveriaSerif-Regular";
  src: url(fonts/AveriaSerif-Regular.ttf) format("truetype");
} 
@font-face {
  font-family: "CheesePizza";
  src: url(fonts/CheesePizza.ttf) format("truetype");
} 
@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf) format("opentype");
} 

/*	Here I set the Preloader for Fade-In */
/*	Note: */
/*	If the user has javascript disabled, this will be removed */
#preloader {
    background: #21b8ff;
    height: 120%;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/*	Here I set the animation speed and delay */
#portfolio-heading, .skillsLeft, .skillsRight, .contact,
.radio-left, .gumbo-left, .radio-right, .gumbo-right {
  	-webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
}

/*	Here is the custom scrollbar you saw */

/*	Scrollbar */
::-webkit-scrollbar {
    width: 1.4em;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(120,174,240,1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(144,199,63,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,174,240,1); 
}

/*	Here is me ensuring responsiveness and mobile functionality */
/*	Note: */
/*	Movile users receive a static image opposed to a parallax to ensure functionality */

#mobile, #triangle {
	width: 100%;
	position: relative;
	z-index: 50;
}
/*	By default, Do not display mobile intro */
#mobile {
	display: none;
}
@media all and (max-width: 1100px) {
/*	Shrink headers to fit */
	h3 {
		font-size: 2em;
	}
	.parallax-wrap, #traingle {
		display: none;
	}
/*	If mobile, display mobile intro */
	#mobile {
		display: inline;
	}
/*	Shrink emphasis items margin */
	.emphasis-item {
		margin-bottom: 2em;
	}
/*	Replace emphasis background for functionality */
	.emphasis-peekhole {
		background: #21b8ff !important;
	}
/*	Replace skills background for functionality*/
	#skills-headbox {
		background: #fff !important;
	}
}

/*	Here are my Global rules */

body {
	overflow-x: hidden;
	font-family: AveriaSerif-Regular, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	text-shadow: 0.05em 0.05em 0.05em #FFF;
}
p, a {
	font-size: 1.2em;
}
a {
	font-family: BebasNeue, AveriaSerif-Regular, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
	color: #4444FF;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
}
a:hover {
	color: #000;
}
h1, h2, h3 {
	text-align: center;
	font-family: CheesePizza, BebasNeue, AveriaSerif-Regular, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	letter-spacing: 0.2em;
	word-spacing: 0.2em;
	font-size: 6em;
}
h3 {
	font-size: 4em;
	text-align: center;
}
h4 {
	font-size: 1.8em;
}
/*This divider acts as a replacement for the hr tag */
.divider {
  opacity: 0.2;
  border: 0.2em;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000;
  height: 0.1em;
  margin: 4em 0 4em 0;
}

/*	Here are the styles by Section */

/*	Here's the Introduction Section */

.parallax-wrap {
	background: #28baf9;
	height: 100vh;
	width: 100%;
	/*position: fixed;*/
	overflow: visible;
}
.parallax-layer {
	position: fixed;
	height: 120vh;
	width: 100%;
	/*left: 0;*/
	bottom: 0;
	background-position: no-repeat top center fixed;
}
.layer-1 {
	background: url('../resources/images/background.png'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 5;
}
#header {
	padding-top: 8vh;
	position: fixed;
	z-index: 10;
	width: 100%;
}
.layer-2 {
	background: url('../resources/images/foreground.png'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 15;
}
#triangle {
	width: 100%;
}
#after-intro {
	position: relative;
	z-index: 50;
	background: #FFF;
}

/*	Here's the Emphasis Section */

.emphasis h3 {
	margin-bottom: 1.5em;
}
.emphasis-item {
	text-align: center;
	width: 80%;
	margin-left: 10%;
}
.emphasis-item a {
	display: block;
}
.emphasis-peekhole {
	padding: 0.5em 0 0.5em 0;
	border: 1px solid #888;
	border-radius: 1em 2em 2em 4em;
	font-family: BebasNeue, AveriaSerif-Regular, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-weight: bold;
	text-shadow: 0.05em 0.05em 0.05em #FFF;
	background: url('../resources/images/clouds.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*	Here's the Skills Section */

.skills {
	clear: both;
}
#skills-headbox {
	padding: 0.5em;
	margin-bottom: 0.5em;
	background-color: #000;
	background: url('../resources/images/blue-fade.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 1px solid #888;
	border-radius: 1em 1em 9em 9em;
}
.skills h3 {
	font-weight: bold;
	text-shadow: 0.01em 0.01em 0.01em #FFFFFF;
}
.skill-item {
	display: block;
	margin: 1em;
}
.skill-img {
	height: 2em;
	width: 2em;
}
.skill-name {
	display: inline;
	margin-left: 1em;
	font-size: 2em;
	font-family: BebasNeue, AveriaSerif-Regular, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

/*	Here is the Portfolio Section */
.portfolio-headbox {
	margin-top: 1em;
	background-color: #000;
	color: #FFF;
	padding: 0.5em;
}
.portfolio h3 {
	text-shadow: 0.01em 0.01em 0.01em #0000FF;
}
.portfolio-item {
	margin-top: 8em;
	margin-bottom: 8em;
}
.portfolioImg {
	height: 50%;
	width: 100%;
	max-width: 100%;
	border-radius: 0.25em;
	margin-left: auto;
	margin-right: auto;
}
.portfolio-item h4 {
	letter-spacing: 0.2em;
	word-spacing: 0.2em;
	max-width: 91%;
	font-family: BebasNeue, AveriaSerif-Regular, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

/*	Here is the Contact Section */
#contact p {
	text-align: center;
	word-spacing: 0.1em;
}
#email, #skype, #phone {
	text-align: center;
	font-size: 1.8em;
	font-family: BebasNeue, AveriaSerif-Regular, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
#phone {
	margin-bottom: 2em;
}
.input {
	opacity: 0.8;
}
.submit {
	font-family: BebasNeue, AveriaSerif-Regular, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-size: 1.2em;
	letter-spacing: 0.4em;
	background-color: #8dc73f;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
}
.submit:hover {
	background-color: #00aef0;
	font-weight: bold;
}

/*	Including the PDF Resume */

#pdf {
	text-align: center;
	font-size: 2em;
}

/*	And Last but not least, here is the Credits Section */
#credit {
	margin-top: 2em;
}
#credit, #copyright, #disclaimer {
	clear: both;
	margin-left: 2em;
}

/*	That's it */

/*	Check out script.js Next! 